<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>Ajmer</string>
		<key>lat</key>
		<real>26.449896</real>
		<key>long</key>
		<real>74.639915</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Alwar</string>
		<key>lat</key>
		<real>27.560932</real>
		<key>long</key>
		<real>76.625015</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Banswara</string>
		<key>lat</key>
		<real>23.546757</real>
		<key>long</key>
		<real>74.43383</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Baran</string>
		<key>lat</key>
		<real>25.101145</real>
		<key>long</key>
		<real>76.513161</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Barmer</string>
		<key>lat</key>
		<real>25.753155</real>
		<key>long</key>
		<real>71.41806</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Bharatpur</string>
		<key>lat</key>
		<real>27.216982</real>
		<key>long</key>
		<real>77.48951700000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Bhilwara</string>
		<key>lat</key>
		<real>25.346251</real>
		<key>long</key>
		<real>74.636383</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Bikaner</string>
		<key>lat</key>
		<real>28.027138</real>
		<key>long</key>
		<real>73.302155</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Bundi</string>
		<key>lat</key>
		<real>25.430513</real>
		<key>long</key>
		<real>75.649902</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Chittorgarh</string>
		<key>lat</key>
		<real>24.883955</real>
		<key>long</key>
		<real>74.62486199999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Churu</string>
		<key>lat</key>
		<real>28.29229</real>
		<key>long</key>
		<real>74.966583</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Dausa</string>
		<key>lat</key>
		<real>26.894478</real>
		<key>long</key>
		<real>76.334824</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Dholpur</string>
		<key>lat</key>
		<real>26.702518</real>
		<key>long</key>
		<real>77.893394</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Dungarpur</string>
		<key>lat</key>
		<real>23.845633</real>
		<key>long</key>
		<real>73.719469</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Hanumangarh</string>
		<key>lat</key>
		<real>29.625996</real>
		<key>long</key>
		<real>74.287491</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Jaipur</string>
		<key>lat</key>
		<real>26.92207</real>
		<key>long</key>
		<real>75.778885</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Jaisalmer</string>
		<key>lat</key>
		<real>26.911661</real>
		<key>long</key>
		<real>70.922928</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Jalore</string>
		<key>lat</key>
		<real>25.344481</real>
		<key>long</key>
		<real>72.62537399999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Jhalawar</string>
		<key>lat</key>
		<real>24.597349</real>
		<key>long</key>
		<real>76.16098</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Jhunjhunu</string>
		<key>lat</key>
		<real>28.128876</real>
		<key>long</key>
		<real>75.399506</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Jodhpur</string>
		<key>lat</key>
		<real>26.263863</real>
		<key>long</key>
		<real>73.008957</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Karauli</string>
		<key>lat</key>
		<real>26.49168</real>
		<key>long</key>
		<real>77.01767</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Kota</string>
		<key>lat</key>
		<real>25.210282</real>
		<key>long</key>
		<real>75.86543899999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Nagaur</string>
		<key>lat</key>
		<real>27.207006</real>
		<key>long</key>
		<real>73.742294</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Pali</string>
		<key>lat</key>
		<real>25.771315</real>
		<key>long</key>
		<real>73.323685</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Pratapgarh</string>
		<key>lat</key>
		<real>24.043135</real>
		<key>long</key>
		<real>74.771186</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Rajsamand</string>
		<key>lat</key>
		<real>25.0667</real>
		<key>long</key>
		<real>73.883301</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Sawai Madhopur</string>
		<key>lat</key>
		<real>25.983334</real>
		<key>long</key>
		<real>76.366669</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Sikar</string>
		<key>lat</key>
		<real>27.615406</real>
		<key>long</key>
		<real>75.125885</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Sirohi</string>
		<key>lat</key>
		<real>24.872891</real>
		<key>long</key>
		<real>72.858142</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Sri Ganganagar</string>
		<key>lat</key>
		<real>29.903839</real>
		<key>long</key>
		<real>73.87719</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Tonk</string>
		<key>lat</key>
		<real>26.229376</real>
		<key>long</key>
		<real>75.780945</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Udaipur</string>
		<key>lat</key>
		<real>24.57127</real>
		<key>long</key>
		<real>73.69154399999999</real>
	</dict>
</array>
</plist>
