<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>963591057640-s7p7qvbhtj1n8t0d5avv4o0caqa86774.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963591057640-s7p7qvbhtj1n8t0d5avv4o0caqa86774</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDP7hKrvrv8KYB_6jmpvoDMKpVEdfNlw</string>
	<key>GCM_SENDER_ID</key>
	<string>963591057640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jodhpur.foodapp</string>
	<key>PROJECT_ID</key>
	<string>food-and-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>food-and-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963591057640:ios:cc7c95cbd53c5fcf</string>
	<key>DATABASE_URL</key>
	<string>https://food-and-restaurant.firebaseio.com</string>
</dict>
</plist>