<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ATM</string>
		<key>type</key>
		<string>atm</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bank</string>
		<key>type</key>
		<string>bank</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bus Station</string>
		<key>type</key>
		<string>bus_station</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Café</string>
		<key>type</key>
		<string>cafe</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Car Repair</string>
		<key>type</key>
		<string>car_repair</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gas Station</string>
		<key>type</key>
		<string>gas_station</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hospital</string>
		<key>type</key>
		<string>hospital</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Library</string>
		<key>type</key>
		<string>library</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Movie Theater</string>
		<key>type</key>
		<string>movie_theater</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parking</string>
		<key>type</key>
		<string>parking</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pharmacy</string>
		<key>type</key>
		<string>pharmacy</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Police</string>
		<key>type</key>
		<string>police</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Post office</string>
		<key>type</key>
		<string>post_office</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Restaurant</string>
		<key>type</key>
		<string>restaurant</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Super Market</string>
		<key>type</key>
		<string>supermarket</string>
        <key>icon</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taxi</string>
		<key>type</key>
		<string>taxi_stand</string>
        <key>icon</key>
        <string></string>
	</dict>
</array>
</plist>
